<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Api Testing</title>
</head>
<body>
    <h1>VPN Testing</h1>
    <form method="post" action="/home">
        <input type="text" name="token">
        <select name="vpn" id="vpn">
            <option value="usa">USA</option>
            <option value="japan">JAPAN</option>
            <option value="india">INDIA</option>
        </select>
        <input type="submit" value="Activate" name="Activate"/>
        <input type="submit" value="Deactivate" name="Deactivate"/>
    </form>
</body>
</html>